@import "tailwindcss";

:root {

}

/*@theme inline {*/
/*  --color-background: var(--background);*/
/*  --color-foreground: var(--foreground);*/
/*  --font-sans: var(--font-geist-sans);*/
/*  --font-mono: var(--font-geist-mono);*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
  background: linear-gradient(
          to bottom right,
          #000000,
          #0f172a,
          #000000
  );
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes hero-gradient-animation {
  0% { --x-0: 85%; --y-0: 80%; --x-1: 60%; }
  100% { --x-0: 70%; --y-0: 90%; --x-1: 40%; }
}
